UserNotifier#accepted
%p
  = t('email.accepted.greeting', :name => @user.name)
%p
  = t('email.accepted.introduction', :marina_name => @marina.name)
%p
  = t('email.accepted.post_introduction', :marina_name => @marina.name)
%p
  = t('email.transeurope_marinas_footer')
  %br
