%p
  = t('email.expired_user.greeting', :name => @user.name)
%p
  = t('email.expired_user.introduction', :marina_name => @marina.name)
%p
  = t('email.expired_user.post_introduction', :marina_name => @marina.name)
%p
  = raw t('email.transeurope_marinas_footer')


