UserNotifier#expired_user

= @greeting + ", find me in app/views/user_notifier/expired_user.text.haml"

%br
= "Hi "+ @user.name
%br
Your membership of the TEM passport has expired.
%br
%br
Kind regards
%br
%br
The TEM Management team


