%p
  = t('email.expired_manager.greeting', :name => @user.name)
%p
  = t('email.expired_manager.introduction', :marina_name => @marina.name)
%p
  = t('email.expired_manager.post_introduction', :marina_name => @marina.name)
%p
  = raw t('email.transeurope_marinas_footer')