UserNotifier#manager_accepted
%p
  = t('email.manager_accepted.greeting', :name => @user.name)
%p
  = t('email.manager_accepted.introduction', :marina_name => @marina.name)
%p
  = t('email.manager_accepted.post_introduction', :marina_name => @marina.name)
%p
  = t('email.transeurope_marinas_footer')