UserNotifier#new_user_to_manager
%p
  = t('email.new_user_to_manager.greeting', :name => @manager.name)
%p
  = t('email.new_user_to_manager.introduction', :user_name => @user.name, :marina_name => @marina.name)
%p
  = t('email.new_user_to_manager.post_introduction', :marina_name => @marina.name )
%p
  = t('email.transeurope_marinas_footer')

