%p
  = t('email.new_initial_user.greeting', :name => @admin.name)
%p
  = t('email.new_initial_user.introduction', :name => @user.name, :marina_name => @marina.name)
%p
  = t('email.new_initial_user.post_introduction')
%p
  = raw t('email.transeurope_marinas_footer')
