UserNotifier#new_initial_user
%p
  = t('email.new_initial_user.greeting', :name => @user.name)
%p
  = t('email.new_initial_user.introduction', :marina_name => @marina.name)
%p
  = t('email.new_initial_user.post_introduction', :marina_name => @marina.name)
%p
  = t('email.transeurope_marinas_footer')
