UserNotifier#rejected
%p
  = t('email.rejected.greeting', :name => @user.name)
%p
  = t('email.rejected.introduction', :marina_name => @marina.name)
%p
  = t('email.rejected.post_introduction', :marina_name => @marina.name)
%p
  = t('email.transeurope_marinas_footer')