%p
  = t('email.remove_pending.greeting', :name => @user.name)
%p
  = t('email.remove_pending.introduction', :marina_name => @marina.name)
%p
  = t('email.remove_pending.post_introduction', :marina_name => @marina.name)
%p
  = t('email.transeurope_marinas_footer')