UserNotifier#roll_change
%p
  = t('email.roll_change.greeting', :name => @user.name)
%p
  = t('email.roll_change.introduction', :marina_name => @marina.name)
%p
  = t('email.roll_change.post_introduction', :marina_name => @marina.name)
%p
  = t('email.transeurope_marinas_footer')