UserNotifier#user_pending_notification
%p
  = t('email.user_pending_notification.greeting', :name => @user.name)
%p
  = t('email.user_pending_notification.introduction', :marina_name => @marina.name)
%p
  = t('email.user_pending_notification.post_introduction', :marina_name => @marina.name)
%p
  = t('email.transeurope_marinas_footer')

