UserNotifier#validate_admin
%p
  = t('email.validate_admin.greeting', :name => @user.name)
%p
  = t('email.validate_admin.introduction')
%p
  = t('email.validate_admin.post_introduction')
%p
  = t('email.transeurope_marinas_footer')