.modal{:id => "role-options-#{user.id}", :style => "display: none;"}
  = simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Change name
    .modal-body
      = f.input :name
    .modal-footer
      = f.submit "Change Name", :class => "btn"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close