%h3 Listing users

=form_tag search_users_path, :method => 'get' do
  =text_field_tag :search, params[:search]
  =submit_tag "search"



.span8
%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th passport_code
      %th email
      %th marina state
      %th
      %th



  %tbody
    - if !@users.nil?
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.passport_code
          %td= user.email
          %td= user.marina_state










