<p>Hi <%= @resource.name %>!</p>

<p>Please take a second to confirm *email@address.com* as your new email address by clicking this link:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>
Best Wishes,

The TransEurope Team
http://www.transeuropemarinas.com
http://www.cruisingpassport.com
If you received this message in error and do not have a cruising passport account, you can simply ignore it or let us know at support@transeuropemarinas.com and we'll investigate.
</p>