/ starts footer
#footer
  /.container
  /  .row
  /    .span8


  %hr
    .row.copyright
      .span5
        %h3 Social
        %a.social.fb{:href => "https://www.facebook.com/pages/TransEurope-Marinas/160999917280564"}
          %i.i_facebook
        %a.social.tw{:href => "https://twitter.com/Trans_Europe"}
          %i.i_twitter
        %a.social.yt{:href => "http://pinterest.com/transeurope/"}
          %i.i_youtube
      .span2.offset5.copy
        %p 2013 - The Waypoint
