/ starts footer


#footer
  .container
    .row
      .span8
        %h3
          =t('home.footer.title_main')
        .blog_post
          .row
            .span2
              = image_tag('Hull.png', class: 'img-circle')
            .span4
              %a.title{:href => "http://www.transeuropemarinas.com/news-events/"}
                =t('home.footer.title_sub')



    %hr/
    .row.copyright
      .span5
        %h3 Social
        %a.social.fb{:href => "https://www.facebook.com/pages/TransEurope-Marinas/160999917280564"}
          %i.i_facebook
        %a.social.tw{:href => "https://twitter.com/Trans_Europe"}
          %i.i_twitter
        %a.social.yt{:href => "http://pinterest.com/transeurope/"}

      .span2.offset5.copy
        %p
          .date
            ="(c) "
            =Time.now.strftime("%Y")
            ="- The Waypoint"

