/ starts footer


#footer
  .container
    .row
      .span8
        %h3
          =t('home.footer.title_main')
        .blog_post
          .row
            .span2
              = image_tag('Hull.png', class: 'img-circle')
            .span4
              %a.title{:href => "blog.html"}
                =t('home.footer.title_sub')
              .intro
                =t('home.footer.main')
              .date
                Oct 22. 2012
      .span4.contact_us
        %h3
          =t('home.footer.contact_us')
          %form.form-horizontal
          .field
            .label_field
              %label{:for => "inputName"} Name
            %input#inputName{:type => "text"}/
          .field
            .label_field
              %label{:for => "inputEmail"} Email address
            %input#inputEmail{:type => "text"}/
          .field
            .label_field
              %label{:for => "inputCity"} City
            %input#inputCity{:type => "text"}/
          .field
            .label_field
              %label{:for => "inputComment"} Comments
            %textarea{:name => "comments"}
          %button.btn{:type => "submit"} Send
    %hr/
    .row.copyright
      .span5
        %h3 Social
        %a.social.fb{:href => "https://www.facebook.com/pages/TransEurope-Marinas/160999917280564"}
          %i.i_facebook
        %a.social.tw{:href => "https://twitter.com/Trans_Europe"}
          %i.i_twitter
        %a.social.yt{:href => "http://pinterest.com/transeurope/"}
          %i.i_youtube
      .span2.offset5.copy
        %p 2013 - The Waypoint

