/= link_to "TEM-Passport", root_path, :class => 'brand'

%div
  %ul.span2
    %p
      %strong
        ost current web browsers
    %p.line.2
      anti
    %p
      skksk
    %p
      only implement two CSS units well: "ems" and pixels.

  %ul.span2
    %p
      %strong
        ost current web browsers
    %p.line.2
      anti
    %p
      skksk
    %p
      only implement two CSS units well: "ems" and pixels.

  %ul.span2
    %p
      %strong
        ost current web browsers
    %p.line.2
      anti
    %p
      skksk
    %p
      only implement two CSS units well: "ems" and pixels.


  %ul.span2
    %p
      %strong
        ost current web browsers
    %p.line.2
      anti
    %p
      skksk
    %p
      only implement two CSS units well: "ems" and pixels.

  %ul.span2
    %p
      %strong
        ost current web browsers
    %p.line.2
      anti
    %p
      skksk
    %p
      only implement two CSS units well: "ems" and pixels.




