/= link_to "TEM-Passport", root_path, :class => 'brand'

%div
  %ul.span2

    %li
      a
    %li
      b
    %li
      c

  %ul.span2
    %p
      %strong
        ost current web browsers
    %p.line.2
      anti
    %p
      skksk
    %p
      only implement two CSS units well: "ems" and pixels. One "em" is equal to the height required by the font itself in order to ensure that characters never collide. Since the size of an "em" changes automatically when you change the font-size property, working with "ems" saves you the grief of editing many margin properties every time you change the font size. And that's a good thin


  %ul.span2
    %p
    this is at se
    %p
      anti
    %p
      skksk


  %ul.span2
    %p
      this is at se
    %p
      anti
    %p
      skksk

  %ul.span2
    %p
      this is at se
    %p
      anti
    %p
      skksk




